/* styling heading */
header > div {
    display: flex;
    position: relative;
    /* padding: 10px; */
}

header > div h1 {
    width: 100%;
    text-align: center;
}
header > div a {
    width: 10%;
    text-align: right;
}

/* styling menu for mobile/tablet screens */
@media  (max-width: 800px)  {
    * {
        box-sizing: border-box;
    }
    body {
        margin: 0;
    }
    
    nav {
        display: flex;
        position: sticky;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        padding: 0;
    }

    #menu, #menu-toggle {
        display: none;
    }

    /* styling the hamburger icon */
    #menu-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        height: 100%;
        width: 30px;
        cursor: pointer;
        margin: 0 10px;
    }

    .slice,
    .slice::before,
    .slice::after
    {
        display: block;
        position: absolute;
        background-color: black;
        height: 6px;
        width: 30px;
        border-radius: 3px;
    }

    .slice::before {
        margin-top: 10px;
        content: '';
    }

    .slice::after {
        margin-top: -10px;
        content: '';
    }

    /*  transforming the hamburger icon into a cross after toggling  */
    #menu-toggle:checked + #menu-container .slice::before {
        margin-top: 0px;
        transform: rotate(45deg);
      }
      
      #menu-toggle:checked + #menu-container .slice {
        background-color: white;
      }
      
      #menu-toggle:checked + #menu-container .slice::after {
        margin-top: 0px;
        transform: rotate(-45deg);
      }

    /* displaying menu after toggling the hamburger icon */
    #menu-toggle:checked ~ #menu {
        display: flex;
        position: absolute;
        flex-direction: column;
        width: 100%;
        top: 0;
        padding: 0;
        margin-top: 50px;
        border: 2px solid;  
        list-style-type: none;
        background-color: black;
    }

    #menu li {
        height: 3em;
        padding: 0.5em 2em;
    }

    #menu li:not(:last-child) {
        border-bottom: 2px solid green;
    }

    #menu a {
        color: #ffffff;
        font-family: sans-serif;
        font-size: large;
        text-decoration: none;
    }

    #menu a:hover {
        cursor: pointer;
        color: #f0cdcd;
    }
}

/* styling menu for larger screens */
@media (min-width: 801px) {
    /* styling navigation bar */
    #menu-toggle, #menu-container {
        display: none;
    }

    #menu {
        border: 3px solid;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        position: relative;
        padding: 2%;
    }

    #menu li {
        list-style: none;
    }

    #menu a {
        text-decoration: none;
    }
}

/* styling -> navigatiion -> path */
#path-navigation {
    border: 1pt solid;
    display: flex;
    list-style: none;
    width:fit-content;
    padding: 0 1%;
}
  
#path-navigation li:not(:last-child)::after {
  margin: 0 0.25rem;
  content: "→";
}

#path-navigation a {
    text-decoration: none;
}
