/* header {
  display: block;
  top: 0;
  width: 100%;
  background-color: white;
} */

/* navigation styling */
.pre-navigation {
  display: flex;
  justify-content: space-between;
}

ul.navigation-bar {
  border: 3pt solid;
  display: flex;
  gap: 5%;
  list-style-type: none;
  padding: 1%;
}

ul.navigation-path {
  border: 1pt solid;
  list-style-type: none;
}

nav ul li.child-page::before {
  content: '>';
  margin-left: 1%;
  margin-right: 1%;
}

/* footer styling */
footer{
  border-top: 1pt solid;
  text-decoration: none;
}

footer > ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 5%;
  list-style-type: none;
}

footer ul a {
  text-decoration: none;
}

footer li ul{
  list-style-type: none;
}

footer p {
  text-align: right;
}

/* table styling */

