/* header styling */
.pre-navigation {
  display: flex;
}

.pre-navigation h1 {
  width: 100%;
  text-align: center;
}

ul.navigation-bar {
  border: 3pt solid;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 1%;
}

ul.navigation-path {
  border: 1pt solid;
  display: flex;
  list-style: none;
  width:fit-content;
  margin: 0;
  padding: 0 1rem;
}

ul.navigation-path li:not(:last-child)::after {
  margin: 0 0.25rem;
  content: "→";
}

/* footer styling */
footer{
  border-top: 1pt solid;
}

footer > ul {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 5%;
  list-style: none;
}

footer ul a {
  text-decoration: none;
}

footer li ul{
  list-style: none;
}

footer p {
  text-align: right;
}

/* authorisation */

form {
  display: flex;
  flex-direction: column;
}

form > div {
  display: flex;
  flex-direction: row;
  gap: 1%;
}

form > div > * {
  display: flex;
  flex-direction: column;
}

form label, form input {
  margin: 5px;
  padding: 5px 10px;
}

/* form input styling */
.user_text {
  display: flex;
  flex-direction: column;
  /* neccessary to change gap value */
  gap: 5px;
} 

.user_text textarea {
  width: 50%;
}
.user_text input[type="submit"] {
  width:fit-content;
}

/* styling forms for quizzes */
form legend {
  background-color: antiquewhite;
  padding: 5pt 1% 5pt 1%;
}

form fieldset {
  border: none;
}

/* styling artists image links */
section.artists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section.artists figure {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-basis: 20%;
}

section.artists img {
  max-width: 100%;
}

section.artists figcaption {
  margin: 5px;
  text-align: center;
}

/* styling tables */

table {
  table-layout: auto;
  width: 50%;
  border-collapse: collapse;
  border: 3px solid;
  margin: 5px;
}

td, th {
  border: 1px solid;
  padding: 5px; 
}

thead {
  border: 2px solid;
  background-color: antiquewhite;
}

table caption {
  margin-bottom: 5px;
}

/* dictiionary styling */
dt {
  font-weight: bold;
  margin-bottom: 1pt;
}
